<h1> Rewards: </h1>

<ul>
<% @rewards.each do |reward| %>
  <li><h2><%= reward.name %></h2><br>
    <% if reward.image.exists? %>
      <p><%= image_tag reward.image.url(:thumb) %></p>
    <% end %>
  description: <%= reward.description %> <br> 
  cost: <%= reward.cost %> points <br>
  <%= link_to "edit", edit_admin_reward_path(reward) %>
  <%= link_to "delete", admin_reward_path(reward), method: "delete" %></li>
<% end %>
</ul>