<div class="jumbotron" id="user-header">
<h1 class="text-center">Welcome, <%= current_user.first_name.capitalize %> <small>You have <%= current_user.points %> points!<small></h1>
</div>
  
<h1 class="header-font"><strong>Your Rewards</strong><p>total points used: <%= current_user.redeemed %></p></h1>

  <ul>
    <% current_user.rewards.each do |reward| %>
    <div class="row">
      <div class="col-md-10 col-sm-offset-3">
        <div class="reward-div text-center">
          <h3><%= reward.name %></h3>
          <p><%= image_tag reward.image.url(:medium) %></p>
        </div>
      </div>
    </div>
    <% end %>
  </ul>