<h1><%= @user.first_name %> <%= @user.last_name  %></h1>

<%= form_for([:admin, @user]) do |f| %>
 <%= f.text_field :username, :readonly => true  %>
 <%= f.text_field :points %>
 <%= f.submit "Update User's Points" %>
<% end %>