<!DOCTYPE html>
<html>
<head>
  <title>PointBox</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container">
    
  <nav class="navbar navbar-default">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <% if current_user == nil %> 
        <li><%= link_to "Login", login_path %></li>
        <li><%= link_to "New User", new_user_path %></li>
      <% elsif current_admin? %>
        <li><%= link_to "New Reward", new_admin_reward_path %></li>
        <li><%= link_to "Rewards Index", admin_rewards_path  %></li>
        <li><%= link_to "Users Index", admin_users_path  %></li>
        <li><%= link_to "Logout", logout_path, method: "delete" %></li>
      <% else %>
        <li><%= link_to "Browse Rewards", user_rewards_path %></li> 
        <li><%= link_to "Dashboard", user_path %></li>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Logout", logout_path, method: "delete" %></li>
        </ul>
      <% end %>  
    </ul>
  </div>
</nav>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
  
<%= yield %>

</body>
</html>
